{% extends 'base.html' %}

{% block content %}
	{% if item %}

	<form class="form-inline my-2 my-lg-0" method="POST">
		{% csrf_token %}
		<input class="form-control mr-sm-2" type="search" placeholder="{{item.name}}" value="{{item.name}}" aria-label="Search" name="name">
		<input class="form-control mr-sm-2" type="search" placeholder="{{item.description}}" value="{{item.description}}" aria-label="Search" name="description">
		<input class="form-control mr-sm-2" type="search" placeholder="{{item.additional}}" value="{{item.additional}}" aria-label="Search" name="additional">

		<input type="hidden" value="{{ item.completed }}" name="completed">
		
		<button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Сохранить изменения</button>
	</form>

	{% endif %}

{% endblock %}